.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  overflow-y: scroll;
  background: #fff;

  .panel {
    border-radius: 0 !important;
    border: none !important;
    margin-bottom: 0 !important;
  }

  #generate {
    cursor: pointer;
  }

  .email-frame {
    width: 100%;
  }

  #templates {
    text-align: center;
    padding-top: 70px;
  }

  .modal-backdrop {
    z-index: 1048;
  }

  #generate_new_tags, #generate_featured_tags {
    margin-bottom: 5px;
  }

  #tags a {
    margin-right: 5px;
    margin-bottom: 5px;
  }

}