@import "add_template";

.ant-page-header {
  display: none;
}
/*panel*/
#links img{
    height: 14px;
    margin-left: -5px;
    margin-top: -4px;
    width: 14px;
}

#links .badge {
    font-size: 0.8em;
}

.reduced-opacity {
  opacity: 0.5;
}

/*Fix for 1.6 chosen*/
.chosen-container {
  width: 100% !important;
}

/*end panel*/
#adminpresentation #video-content p {
    color: #585A69;
    font-size: 13px;
    line-height: 23px;
    text-shadow: 0 1px 0 #FFFFFF;
}
.rate-info{
    font-size:12px;
    margin-bottom:10px;
    text-align: center;
    border: 1px solid #CCCCCC;
    padding: 3px;
    color: #59A2E7;
}
.ui-tabs .ui-tabs-panel{
    padding-top: 10px;
}
label.none{
    margin: 0px;
    padding: 0px;
    text-align: left;
    width: auto;
    float: none;
}
.ui-datepicker{
    z-index: 2000 !important;
}
#global{
    width:320px;
}
#presentation{
    margin-top: 7px;
}
#dashboard .separation{
    margin: 5px 0 10px;
}
#right-panel{
    width:50%;
    display:inline-block;
}
.table_info{
    width: 100%;
    float: none;
}
.clear{
    width: 100%;
    clear:both;
}
#dsDialog, #dialogTags {
  padding: 40px;
  max-width: 700px;
  margin: 1.75rem auto;
}
.modal .bootstrap {
  background: #fff;
}
.rounded-list {
  counter-reset: li; /* Initiate a counter */
  list-style: none; /* Remove default numbering */
  *list-style: decimal; /* Keep using default numbering for IE6/7 */
  font: 15px 'trebuchet MS', 'lucida sans';
  padding: 0;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  margin-left: 1em;
}
.rounded-list a{
  position: relative;
  display: block;
  padding: .4em .4em .4em 2em;
  margin: .5em 0;
  background: #eff1f2;
  color: #444;
  text-decoration: none;
  border-radius: .3em;
  transition: all .3s ease-out;
}

.rounded-list a:hover{
  background: #eee;
}

.rounded-list a:hover:before{
  transform: rotate(360deg);
}

.rounded-list a:before{
  color: #fff;
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: #00aff0b3;
  height: 2.5em;
  width: 2.5em;
  line-height: 2em;
  border: .3em solid #fff;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all .3s ease-out;
}
.modal {
  overflow-y: unset;
}
#slides i {
    height: auto;
}
.icon-fullscreen {
    color: red !important;
}
.list-group .list-group-item {
    padding: 10px 10px;
}
#dsnewsletter_form .form-group .form-group {
    margin-bottom: 0px;
}
#overlay {
    display: none;
    position: fixed;
    /*background-color:rgba(0,0,0,0.7);*/
    top:0; left:0;
    bottom:0; right:0;
    z-index: 9000;
}
#progress-wrapper {
    padding: 20px;
    position:absolute;
    top:50%;
    left:50%;
    margin-top: -50px;
    margin-left: -50px;
    color: #fff;
    font-size: 7em;
    font-weight: 500;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    z-index: 9000;
}
ul.nav.nav-pills {
    margin-bottom: 10px;
}
#text {
    position: relative;
}
#text #generate {
    position: absolute;
    right: 0;
    top: 0;
}
.block-mail textarea.noEditor {
    min-height: 400px;
}
#link-docs {
    margin-top: 10px;
}
.bootstrap .form-horizontal .form-wrapper {
    max-width: 100%;
}
.bootstrap li.active-news a {
  color: #a9302a;
}
.bootstrap #dashboard section>section header {
  background: none;
  color: #555;
}
#select-newsletter {
  margin-bottom: 10px;
}
#select-newsletter-wrapper {
  margin-bottom: 10px;
}
#completion_mail_wrapper {
  margin-bottom: -10px !important;
}

/* Progressbar */
#completion_mail_wrapper {
  display: none;
  padding: 5px !important;

  #newsletter_progressbar {
    margin-top: 5px;
    width: 100%;
    height: 7px;
    position: relative;
  }

  #newsletter_progressbar_tab {
    border: none;
    background: #ECECEC;
    height: 12px;
    position: relative;
    width: 100%;
  }

  #newsletter_progressbar_tab .ui-progressbar-value {
    background: #ef1d1d;
    border: 1px solid #8aa96d;
    position: absolute;
    top: 0;
  }

  #newsletter_progressbar_tab .ui-widget-header {
    height: 17px;
    margin: 3px;
    border: none;
  }
}